.screen {
    display: flex;
    flex-direction: column;
    /* background-color: green; */
    height: 100vh;
}

.layout {
    /* background-color: blue; */
    display: flex;
    gap: 10px;
    flex-grow: 10;
}

@media (max-width: 600px) {
    .layout {
        flex-direction: column;
        flex-grow: unset;
    }
}